{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div id="input-nav"><a href="{% url 'home' %}" class="primary1">الرئسية </a> <i>&rsaquo;</i> 
    <a href="{% url 'session_list' %}" class="primary1">قائمة الجلسات </a> <i>&rsaquo;</i> اضافة جلسة & التعديل </div>
<br>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="row w-100">
    <div class="col-md-6  mx-auto ">
        <div class="card pb-4 pl-5">
            <p class="form-title text-center my-2">اضافة جلسة & التعديل</p>
            <div class="container"><br>
                <form action="" method="POST">{% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary " type="submit" value="حفظ">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
