{% extends 'registration/registration_base.html' %}
{% block title %}Password Reset Complete | DjangoSMS{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">اكتملت عملية إعادة تعيين كلمة المرور</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>لقد تم تعيين كلمة المرور الخاصة بك، أنت الآن قادر على تسجيل الدخول!
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">تسجيل الدخول هنا</a>
    </div>
</div>
{% endblock content %}
