{% extends 'registration/registration_base.html' %}
{% block title %}Email Sent | DjangoSMS{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">أرسل البريد الإلكتروني</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>تم إرسال بريد إلكتروني يحتوي على التعليمات
      لإعادة تعيين كلمة المرور الخاصة بك، تحقق من بريدك الإلكتروني.
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>العودة إلى تسجيل الدخول</a>
  </div>
</div>
{% endblock content %}
