{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div id="input-nav"><a href="{% url 'home' %}" class="primary1">الرئسية </a> <i>&rsaquo;</i> تغير كلمة المرور </div>
<br>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="row w-100">
    <div class="col-md-6  mx-auto">
        <div class="card w-100">
            <p class="form-title text-center my-2"><i class="fas fa-lock"></i>تغير كلمة المرور </p><br>
            <div class="container">
                <!-- {{ form|crispy }} -->
            
                <form action="" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label>كلمة المرور القديمة </label>{{ form.old_password }}
                    <span class="danger">{{ form.old_password.errors }}</span>
                    <p class="text-muted-xs">مسموح ب 150 حرفا او رقما و  @ /./+/-/_ فقط </p>
                </div>
                <div class="form-group">
                    <label>كلمة المرور الجديدة</label>{{ form.new_password1 }}
                    <span class="danger">{{ form.new_password1.errors }}</span>
                    <p class="text-muted-xs">
                        لا يمكن أن تكون كلمة المرور مشابهة جدا للمعلومات الشخصية الأخرى. <br>
                        يجب أن تحتوي كلمة المرور على 8 أحرف على الأقل. <br>
                        لا يمكن أن تكون كلمة المرور كلمة مرور شائعة الاستخدام. <br>
                        لا يمكن أن تكون كلمة المرور رقمية بالكامل.
                    </p>
                </div>
                <div class="form-group">
                    <label>تأكيد كلمة المرور </label>{{ form.new_password2 }}
                    <span class="danger">{{ form.new_password2.errors }}</span>
                    <p class="text-muted-xs">أدخل نفس كلمة المرور كما كان من قبل، للتحقق.</p>
                </div>

                <center><input class="btn btn-outline-primary" type="submit" value="تغير كلمة المرور"></center><br>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
